<div class="dialog-container">
  <div class="mGUp">
    Filter by
  </div>

  <div class="mGUp">
    Price range
  </div>

  <div class="custom-slider mGUp">
<ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
  </div>


   <div class="price-rng mGUp">
     Price range
   </div>

   <div style="display: flex; flex-direction: row; justify-content: space-around;">
    <div class="btn-item-active">
     <span class="btn-text-active">CHEAPEST</span>
    </div>
      <div class="btn-item">
        <span class="btn-text">NEAREST</span>
      </div>
   </div>


     <div class="price-rng mGUp">
       Fuel type
     </div>

     <div style="display: flex; flex-direction: row; justify-content: space-around;">
       <div class="btn-item-active">
         <span class="btn-text-active">PETROL</span>
       </div>
       <div class="btn-item">
         <span class="btn-text">DIESEL</span>
       </div>




     </div>


     <div class="price-rng mGUp">
       Fuel brand
     </div>

     <div style="display: flex; flex-direction: row; justify-content: space-around;">
       <div class="btn-item-active">
         <span class="btn-text-active">OANDO</span>
       </div>
       <div class="btn-item">
         <span class="btn-text">CONOIL</span>
       </div>

     </div>

     <div style="display: flex; flex-direction: row; justify-content: space-around;">
       <div class="btn-item-active">
         <span class="btn-text-active">TOTAL</span>
       </div>
       <div class="btn-item">
         <span class="btn-text">CONOIL</span>
       </div>

     </div>

     <div class="price-rng mGUp">
       Location
     </div>

     <div class="input-box">
       <mat-form-field appearance="outline">
         <input matInput autocomplete="off" type="text" placeholder="Set location"
           />
       
       </mat-form-field>
     </div>

       <button class="price-btn" (click)="price()">
         <span class="inner-btn-text">Apply filter</span>
       </button>

</div>
