/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://stanbicbentosansfont.web.app/css/font-family.css');
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'BentonSansRegular';
  overflow-y: hidden;
}

.mat-form-field-outline {
    background: #F2F3F5;

    mat-label {
        background: #FFF;
        height: 40px;
    }
}

.mat-form-field-wrapper {
  padding-bottom: 1rem;
}
