<main>
  <div class="container">


    <nav class="nav" id="nav">
      <div class="nav-center">
        <!-- nav header -->
        <div class="nav-header">


          <div class="box">
            <img src="../../assets/Group 38.png" alt="" class="nav-logo" />

          </div>
          <div [class]="showSidebar? 'box box-none' : 'box' " (click)="categorySelect()">
            <div class="input-box">
              <button mat-button class="input input-button" [matMenuTriggerFor]="accounSelectMenu" type="button">

                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                  <path
                    d="M10.5 20C15.7467 20 20 15.7467 20 10.5C20 5.25329 15.7467 1 10.5 1C5.25329 1 1 5.25329 1 10.5C1 15.7467 5.25329 20 10.5 20Z"
                    stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M21 21L19 19" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>


                <div class="mat-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="19" viewBox="0 0 22 19" fill="none">
                    <path d="M21 15H14" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M4 15H1" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M21 4H18" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M8 4H1" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path
                      d="M6 12H12C13.1 12 14 12.5 14 14V16C14 17.5 13.1 18 12 18H6C4.9 18 4 17.5 4 16V14C4 12.5 4.9 12 6 12Z"
                      stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M10 1H16C17.1 1 18 1.5 18 3V5C18 6.5 17.1 7 16 7H10C8.9 7 8 6.5 8 5V3C8 1.5 8.9 1 10 1Z"
                      stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </div>
                <!-- <small>Search petrol stations</small> -->

              </button>
            </div>
          </div>
          <div class="box" (click)="toggleSidebar()">

            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="19" viewBox="0 0 42 19" fill="none">
              <path d="M2 2H40" stroke="#292D32" stroke-width="3" stroke-linecap="round" />
              <path d="M2 9.5H40" stroke="#292D32" stroke-width="3" stroke-linecap="round" />
              <path d="M2 17H40" stroke="#292D32" stroke-width="3" stroke-linecap="round" />
            </svg>
          </div>
        </div>
      </div>
    </nav>

    <aside [class]="showSidebar ? 'sidebar show' : 'sidebar' " id="sidebar">
      <div class="aside-con">
        <div class="icon-can mb" (click)="toggleSidebar()">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M2 2L18 18" stroke="#000C44" stroke-width="3" stroke-linecap="round" />
            <path d="M2 18L18 2" stroke="#000C44" stroke-width="3" stroke-linecap="round" />
          </svg>
        </div>


        <div class="icon-can mt">
          <span class="usern mr">Kabiru Lawal</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" viewBox="0 0 49 49" fill="none">
            <circle cx="24.5" cy="24.5" r="24.5" fill="#EBEBEB" />
            <path
              d="M24.8151 22.87C24.7151 22.86 24.5951 22.86 24.4851 22.87C22.1051 22.79 20.2151 20.84 20.2151 18.44C20.2151 15.99 22.1951 14 24.6551 14C27.1051 14 29.0951 15.99 29.0951 18.44C29.0851 20.84 27.1951 22.79 24.8151 22.87Z"
              stroke="#000C44" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path
              d="M19.815 26.56C17.395 28.18 17.395 30.82 19.815 32.43C22.565 34.27 27.075 34.27 29.825 32.43C32.245 30.81 32.245 28.17 29.825 26.56C27.085 24.73 22.575 24.73 19.815 26.56Z"
              stroke="#000C44" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>

        <hr class="hr-o">


        <div class="icon-can mt">
          <span class="usern mr">Station list</span>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="vuesax/linear/document-text">
              <g id="document-text">
                <path id="Vector" d="M22 10V15C22 20 20 22 15 22H9C4 22 2 20 2 15V9C2 4 4 2 9 2H14" stroke="#000C44"
                  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path id="Vector_2" d="M22 10H18C15 10 14 9 14 6V2L22 10Z" stroke="#000C44" stroke-width="1.5"
                  stroke-linecap="round" stroke-linejoin="round" />
                <path id="Vector_3" d="M7 13H13" stroke="#000C44" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path id="Vector_4" d="M7 17H11" stroke="#000C44" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
              </g>
            </g>
          </svg>

        </div>

        <div class="icon-can mt">
          <span class="usern mr">Change password</span>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="vuesax/linear/setting">
              <g id="setting">
                <path id="Vector"
                  d="M3 9.11011V14.8801C3 17.0001 3 17.0001 5 18.3501L10.5 21.5301C11.33 22.0101 12.68 22.0101 13.5 21.5301L19 18.3501C21 17.0001 21 17.0001 21 14.8901V9.11011C21 7.00011 21 7.00011 19 5.65011L13.5 2.47011C12.68 1.99011 11.33 1.99011 10.5 2.47011L5 5.65011C3 7.00011 3 7.00011 3 9.11011Z"
                  stroke="#000C44" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path id="Vector_2"
                  d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z"
                  stroke="#000C44" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </g>
            </g>
          </svg>


        </div>


        <div class="icon-can mt">
          <span class="usern-r mr">Logout</span>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="vuesax/linear/logout">
              <g id="logout">
                <path id="Vector" d="M17.44 14.62L20 12.06L17.44 9.5" stroke="#FF0000" stroke-width="1.5"
                  stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                <path id="Vector_2" d="M9.76001 12.0601H19.93" stroke="#FF0000" stroke-width="1.5"
                  stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                <path id="Vector_3" d="M11.76 20C7.34001 20 3.76001 17 3.76001 12C3.76001 7 7.34001 4 11.76 4"
                  stroke="#FF0000" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                  stroke-linejoin="round" />
              </g>
            </g>
          </svg>



        </div>





      </div>
    </aside>


 
    

    <mat-menu #accounSelectMenu="matMenu" class="mat-menu">

      <div class="mod-filter">

      </div>

    </mat-menu>


    <div [class]="showSidebar? 'box-search box-none' : 'box-search'" >
      <div class="autocomplete-input">
        

          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
            <path
              d="M10.5 20C15.7467 20 20 15.7467 20 10.5C20 5.25329 15.7467 1 10.5 1C5.25329 1 1 5.25329 1 10.5C1 15.7467 5.25329 20 10.5 20Z"
              stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M21 21L19 19" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <app-autocomplete (setAddress)="getAddress($event)" ></app-autocomplete>
          <!-- <div class="mat-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="19" viewBox="0 0 22 19" fill="none">
              <path d="M21 15H14" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                stroke-linejoin="round" />
              <path d="M4 15H1" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                stroke-linejoin="round" />
              <path d="M21 4H18" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                stroke-linejoin="round" />
              <path d="M8 4H1" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                stroke-linejoin="round" />
              <path
                d="M6 12H12C13.1 12 14 12.5 14 14V16C14 17.5 13.1 18 12 18H6C4.9 18 4 17.5 4 16V14C4 12.5 4.9 12 6 12Z"
                stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                stroke-linejoin="round" />
              <path d="M10 1H16C17.1 1 18 1.5 18 3V5C18 6.5 17.1 7 16 7H10C8.9 7 8 6.5 8 5V3C8 1.5 8.9 1 10 1Z"
                stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </div> -->
          <!-- <small>Search petrol stations</small> -->

        
      </div>
    </div>


   
  </div>
     


  <div class="history-row">
    <div *ngFor="let control of nData" class="history-con section-center">
      <div class="d-v-1" [style.background-image]="'url(' + control.imageURL + ')'">
      </div>
      <div (click)="redirect(control)">
        <div class="x-p">
          <span>
            <span class="x-p-b"> {{control.venueName}} </span>


          </span>

          <span class="x-p-s-s">Petrol: ₦560 / Litre</span>

          <span class="x-p-svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" viewBox="0 0 16 18" fill="none">
              <path
                d="M1.19564 6.23034C2.78328 -0.748817 13.1231 -0.740757 14.7026 6.2384C15.6294 10.3324 13.0828 13.7978 10.8504 15.9415C9.23053 17.505 6.66775 17.505 5.03982 15.9415C2.81551 13.7978 0.268845 10.3243 1.19564 6.23034Z"
                stroke="#4361EE" stroke-width="1.61181" />
              <path d="M5.73291 8.65613L6.94177 9.86499L10.1654 6.64136" stroke="#4361EE" stroke-width="1.61181"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            {{control.address}}
          </span>
        </div>
      </div>
    </div>


  </div>


  <div *ngIf="!data">
    <div class="nothing-center" *ngIf="!nData">
      <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" fill="none">
        <path
          d="M6.41663 40.3334V9.16675C6.41663 5.50008 8.87329 3.66675 11.9166 3.66675H26.5833C29.6266 3.66675 32.0833 5.50008 32.0833 9.16675V40.3334H6.41663Z"
          stroke="#969696" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M3.66663 40.3333H34.8333" stroke="#969696" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round" />
        <path
          d="M15.3816 18.3334H23.1366C25.0433 18.3334 26.6016 17.4168 26.6016 14.8684V12.6134C26.6016 10.0651 25.0433 9.14844 23.1366 9.14844H15.3816C13.475 9.14844 11.9166 10.0651 11.9166 12.6134V14.8684C11.9166 17.4168 13.475 18.3334 15.3816 18.3334Z"
          stroke="#969696" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M11.9166 23.8333H17.4166" stroke="#969696" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round" />
        <path d="M32.0834 29.3517L40.3334 29.3333V18.3333L36.6667 16.5" stroke="#969696" stroke-width="1.5"
          stroke-linecap="round" stroke-linejoin="round" />
      </svg>

      <p>Nothing to show yet</p>
    </div>
    <div class="create-price">
      <span class="text-create-price"> Did you just buy fuel?<br />
        Kindly enter the price and location to help others!</span>

      <button class="price-btn" (click)="price()">
        <span class="inner-btn-text">Enter Fuel price</span>
      </button>
    </div>
  </div>



</main>